
body{
    overflow: hidden;
}


.listCon{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;

}

.listItem{
    height: 60px;
    background: burlywood;
    width: 100%;
    color: black;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
}

.listFooter{
    height: 60px;
    width: 100%;
    background: darkcyan;
    color: burlywood;
    display:flex;
    align-items:center;
    justify-content:center;
}
