.sjxCon{
    overflow: auto;
}

.sjx{
    width: 0;
    height: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    /*等边三角形*/
    /*border-left: 50px solid transparent;*/
    /*border-right: 50px solid transparent;*/
    /*border-bottom: 86px solid green;*/
    /*直角三角形,尖朝上*/
    /*border: 50px transparent solid;*/
    /*border-bottom: 50px orangered solid;*/
    /*直角三角形,靠边*/
    border-top: 50px orangered solid;
    border-right: 50px transparent solid;
}

.pla{
    width: 100vw;
    height: 200vh;
}

#img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
